### configuration file for openfortivpn, see man openfortivpn(1) ###

host = vpn.avular.com
port = 443
# username = you@example.com   # optional, can prompt
# password = yourpassword      # optional, better to prompt
#trusted-cert = <sha256_hash>  # get this first
# realm = <if needed; try without>
# set-dns = 1                  # auto-set DNS if possible
# set-routes = 1
# pppd-use-peerdns = 1
