[Unit]
Description=@DESCRIPTION@
Documentation=https://github.com/ZanzyTHEbar/dotfiles
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service
PartOf=graphical.target

[Service]
Type=simple
User=@USER@
ExecStart=/usr/local/bin/seamless-login @SESSION_COMMAND@
Restart=always
RestartSec=2
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal+console
PAMName=login

[Install]
WantedBy=graphical.target

